/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

p {
  line-height: 1.5rem;
}

/* Header */
header {
  position: fixed;
  display: flex;
  z-index: 1;
  width: 100%;
  color: black;
  background-color: white;
  height: 4rem;
}

header .header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


header .header-content .logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

header .header-content .logo img {
  height: 3rem;
}

.desktop-logo {
  font-size: 2rem;
}

.desktop-logo span {
  font-weight: bold;
}

header .header-content nav ul {
  display: flex;
  font-size: 1.2rem;
}


header .header-content nav ul .middle {
  padding: 0 1rem 0 1rem;
}

header .header-content nav ul .end {
  padding: 0 1.5rem 0 1rem;
}

header .mobile-nav {
  display: none;
}

@media only screen and (max-width: 480px) {
  header .header-content .logo {
    display: none;
    padding-left: 0;
  }

  .logo img {
    display: none;
    padding-left: 0;
    }

  .desktop-logo {
    display: none;
  }

  .desktop-nav {
    display: none;
  }

  header .mobile-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
  }
}

/* Learn Something New Everyday Box */

.first-container {
  display: flex;
  background-color: silver;
}

.first-container .banner-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.first-container img {
  width: 100%;
}

.first-container .text-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.first-container .text-container h2 {
  font-size: 3rem;
  font-weight: bold;
}

.first-container .text-container h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

.first-container .text-container .sub-headline {
  margin: 2rem 0 2rem 0;
}

.first-container .text-container .start-here-btn {
  color: dimgray;
  background-color: black;
  padding: 0.5rem 0 0.5rem 0;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.first-container .text-container .start-here-btn p {
  color: lightgrey;
}

@media only screen and (max-width: 480px) {
  .first-container {
    flex-direction: column;
  }

  .first-container .banner-container {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }

  .first-container .text-container {
    width: 100%;
  }

  .first-container .text-container h2 {
    font-size: 2rem;
    padding-left: 1rem;
  }

  .first-container .text-container .sub-headline h4 {
    font-size: 1.25rem;
    padding-left: 1rem;
  }

  .first-container .text-container .start-here-btn {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    color: white;
    margin: 0 1rem 2rem 1rem;
  }

  .first-container .text-container .start-here-btn p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
  }

}

/* Second container styles */

.second-container {
  display: flex;
  background-color: white;
}

.second-container .information-container {
  width: 60%;
  padding: 2rem 1.5rem;
}

.second-container img {
  width: 100%;
}

.second-container .information-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
}

.second-container .information-container h4 {
  padding-top: 1.5rem;
  color: grey;
}

.second-container .information-container p {
  padding: 2rem 0;
}

.second-container .right-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 2rem;
}


.second-container .right-column .text-and-images {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  border: solid 0.1rem grey;
}

.second-container .right-column .text-and-images img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.second-container .right-column .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: auto;
  padding-left: 1rem;
}

.second-container .right-column .text h2 {
  font-size: 1.5rem;
  font-weight: bold;
  }

.second-container .right-column .text p {
  padding: 0.5rem 0;
}

.second-container .right-column .text a {
  color: blue;
}

#sacks {
  background-color: grey;
}

#information-orientation-mobile,
#campus-mobile,
#sacks-mobile {
  display: none;
}


@media only screen and (max-width: 480px) {
.information-container {
  display: none;
}

.second-container .right-column {
  width: 100%;
}

.second-container .right-column {
  width: 100%;
}


.second-container .right-column .text-and-images {
  display: block;
  border: none;
}

#information-orientation-desktop,
#campus-desktop,
#sacks-desktop {
  display: none;
}

#information-orientation-mobile,
#campus-mobile,
#sacks-mobile {
  display: block;
  width: 448px;
}

#sacks {
  background-color: white;
}

.second-container .right-column .text-and-images img {
  padding: 1rem;
  margin: 0;
}


}

/* Third container styles */

.third-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey;
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 2rem;
}

.six-boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 4.5rem;
}

.box {
  width: 30%;
  margin: 1rem;
  background-color: white;
}

.box img {
  width: 100%;
  height: auto;
}

.box h2 {
  padding-left: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.box p {
  padding-left: 1rem;
}

.box .courses {
  padding: 0.5rem 0 0.5rem 1rem;
}

#animation,
#marketing {
  padding-bottom: 1.5rem;
}

/* Fourth Container Styles */

.fourth-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fourth-container .headline {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 2rem 0rem;
}

.fourth-container .columns-container {
  display: flex;
  width: 100%;
}

.fourth-container .imagine-urban {
  width: 60%;
  height: auto;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.fourth-container .imagine-urban video {
  width: 100%;
  height: auto;
}

.fourth-container .imagine-urban h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.5rem 0 0.5rem 0;
}

.fourth-container .imagine-urban p {
  padding-bottom: 2rem;
}

.fourth-container .right-column {
  width: 40%;
}

.fourth-container .right-column .text-and-image2 {
  width: 100%;
}


.fourth-container .right-column .text-and-image2 img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

#grey {
  background-color: grey;
}

.fourth-container .right-column .text-and-image2 {
  display: inline-flex;
}

.fourth-container .right-column .text-and-image2 .text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  height: auto;
  padding-left: 1rem;
}

.fourth-container .right-column .text-and-image2 .text2 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.fourth-container .right-column .text-and-image2 .text2 p {

}

/* Footer styles */

footer {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1rem;
  margin-top: 2rem;
  border-top: solid 0.1rem grey;
}

footer p {
  padding-left: 1.5rem;
}

footer nav {
  display: inline-flex;
  text-decoration: none;
  list-style: none;
}

footer nav li {
  padding: 0 1rem 0 1rem;
}
